* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body h2 {
    margin: 10px 20px;
}

.catalog,
.cart {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 250px;
    margin: 20px;
    padding: 15px 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.item__name {
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0;
}

.item__img {
    height: 200px;
}

.item__price {
    padding: 15px 0;
}

button {
    padding: 10px 15px;
    border: 1px solid grey;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    background: none;
    transition: background .3s;
}

.clr-cart {
    margin-left: 20px;
    padding: 10px 15px;
    border: 1px solid grey;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    background: none;
    transition: background .3s;
}

button:active {
    background: #7a7a7a;
}

.cart p {
    font-family: inherit;
    margin-left: 20px;
    margin-bottom: 15px;
}

.totalCartPrice {
    width: 3600px;
    font-family: inherit;
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 15px;
}